<a href="https://colab.research.google.com/github/ayushimondal/cloud-computing-coursework/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LAB ASSIGNMENT â€“ 1**

*(Lab assignment on basics of Python programming using strings and lists)*

1. Write a Python program to print the following string in a specific format

In [ ]:
#Q1
print("Twinkle, twinkle, little star,")
print("  How I wonder what you are!")
print("   Up above the world so high,")
print("   Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("  How I wonder what you are")
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Twinkle, twinkle, little star,
  How I wonder what you are!
   Up above the world so high,
   Like a diamond in the sky.
Twinkle, twinkle, little star,
  How I wonder what you are
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

2. Write a Python program to display the current date and time.

In [ ]:
#Q2
from datetime import datetime
current_time = datetime.now()
print("Current Date and Time: ")
print(current_time.strftime("%d-%m-%y %H:%M:%S"))
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Current Date and Time:
04-08-25 10:55:06
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

3. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
#Q3
import math
r = float(input("Enter radius: "))
area = math.pi*(r**2)
print(f"area is : {area:.2f}")
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter radius: 10
area is : 314.16
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

4. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
#Q4
first_name = input("Enter first name: ")
last_name = input("Enter last name: ")
reversed_first_name = first_name[::-1]
reversed_last_name = last_name[::-1]
output = reversed_last_name + " " + reversed_first_name
print("Reversed order of name is " + output)
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter first name: Ayushi
Enter last name: Mondal
Reversed order of name is ladnoM  ihsuyA
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

5. Write a Python program to accept a filename from the user and print the extension of that.

In [ ]:
#Q5
filename = input("Enter the filename: ")
file_extension = filename.split('.')[-1]
print("Extension of file is "+ file_extension)
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter the filename: ayushi.ipynb
Extension of file is ipynb
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

6. Write a Python program to display the first and last colors from a list.

In [ ]:
#Q6
def first_last_color(color_list):
 if not color_list:
  return "The list is empty"
 return f"First color: {color_list[0]}, Last color: {color_list[-1]}"
colors = ["Red", "Blue", "Green", "Yellow"]
print(first_last_color(colors))
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

First color: Red, Last color: Yellow
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

7. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [ ]:
#Q7
def compute(n):
 nn= int(str(n)*2)
 nnn= int(str(n)*3)
 return n + nn + nnn
n = int(input("Enter n: "))
result= compute(n)
print(f'Answer={result}')
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter n: 7
Answer=861
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

8. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [ ]:
#Q8
def x(n):
 return abs(1000-n)<=100 or abs(2000-n)<=100
num = int(input("Enter number: "))
if x(num):
 print(f"{num} is within 100 of 1000 and 2000")
else:
 print(f"{num} is not within 100 of 1000 and 2000")
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter number: 10
10 is not within 100 of 1000 and 2000
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

9. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
def check(num):
 if num%2 == 0:
  print(f"{num} is even")
 else:
  print(f"{num} is odd")
num= int(input("Enter number: "))
check(num)
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Enter number: 12
12 is even
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14

10. Write a Python program to count the number 4 in a given list.

In [ ]:
#Q10
def count(num_list):
 return num_list.count(4)
numbers = [1,4,2,4,4,7,3,4,1,4]
result = count(numbers)
print(f"Number of 4 are {result}")
print("Name- Ayushi Mondal")
print("Roll no.- 102319092")
print("Subgroup - 3S14")

Number of 4 are 5
Name- Ayushi Mondal
Roll no.- 102319092
Subgroup - 3S14