<a href="https://colab.research.google.com/github/ayushimondal/cloud-computing-coursework/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LAB ASSIGNMENT â€“ 2**

*(Lab assignment on revising the basics of python programming using tuples,lists and dictionaries)*

1. Write a Python program to test whether a passed letter is a vowel or not.

In [1]:
#Q1
def is_vowel(letter):
 vowels = "aeiouAEIOU"
 return letter in vowels

letter = input("Enter letter: ")
if len(letter)==1 and letter.isalpha():
 if is_vowel(letter):
  print(f"{letter} is vowel")
 else:
  print(f"{letter} is not vowel.")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter letter: A
A is vowel
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

2.Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [2]:
#Q2
list1 = {"White", "Black", "Red"}
list2 = {"Red", "Green"}
unique = list1 - list2
print(f"Result: {unique}")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Result: {'Black', 'White'}
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

3.Write a Python program to solve (x + y) * (x + y).

In [3]:
#Q3
def calculate(x,y):
 result= (x+y)*(x+y)
 return result
try:
 x=int(input("Enter x: "))
 y=int(input("Enter y: "))
 result = calculate(x,y)
 print(f"Result is {result}")
except:
 print("Invalid")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter x: 10
Enter y: 11
Result is 441
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

4. Write a Python program to calculate the sum of the digits in an integer.

In [4]:
#Q4
def sum_of_digits(number):
 number=abs(number)
 digit_sum=sum(int(digit) for digit in str(number))
 return digit_sum
try:
 number = int(input("Enter integer: "))
 result=sum_of_digits(number)
 print(f"Sum of digits is {result}")
except ValueError:
 print("Invalid input!")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter integer: 45678
Sum of digits is 30
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

5. Write a Python program to calculate the length of a string.

In [5]:
#Q5
def calculate_length(string):
 return len(string)

User_String = input("Enter a String: ")
length = calculate_length(User_String)
print(f"The length of string is {length}")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter a String: Ayushi Mondal
The length of string is 13
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

6. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [6]:
#Q6
def swap(s1, s2):
 if len(s1)<2 or len(s2)<2:
  return "Error: String must have two characters"

 swapped_s1 = s2[:2]+s1[2:]
 swapped_s2 = s1[:2]+s2[2:]
 return swapped_s1 +" "+swapped_s2

str1=input("Enter first string: ")
str2=input("Enter second string: ")
result= swap(str1, str2)
print("Result: ", result)
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter first string: Ayushi
Enter second string: Mondal
Result:  Moushi Ayndal
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

7. Write a Python program to remove the nth index character from a nonempty string.

In [7]:
#Q7
def remove(s,n):
 if 0<=n<len(s):
  return s[:n]+s[n+1:]
 else:
  return "Error: Index Out of Range"
string=input("Enter String: ")
index= int(input("Enter index to remove: "))
result= remove(string, index)
print(f"Updated String: {result}")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter String: Ayushi Mondal
Enter index to remove: 2
Updated String: Ayshi Mondal
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

8. Write a Python script that takes input from the user and displays that input back in upper and lower cases.

In [8]:
#Q8
input = input("Enter String: ")
print("Uppercase: ", input.upper())
print("Uppercase: ", input.lower())
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter String: Ayushi Mondal
Uppercase:  AYUSHI MONDAL
Uppercase:  ayushi mondal
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

9. Write a Python function to insert a string in the middle of a string.

In [9]:
#Q9
def insert_middle(input, insert):
 mid = len(input)//2
 return input[:mid] + insert + input[mid:]

input_string = "Hello World"
insert_string = " Python"
result = insert_middle(input_string, insert_string)
print(result)
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Hello Python World
Name-Ayushi Mondal
R.No- 102319092
Group-3S14

10. Write a Python program to print the floating numbers upto 2 decimal places with a sign.

In [1]:
#Q10
num = float(input("Enter number: "))
print(f"Number is: {num:+.2f}")
print('Name-Ayushi Mondal')
print('R.No- 102319092')
print('Group-3S14')

Enter number: 99.09987
Number is: +99.10
Name-Ayushi Mondal
R.No- 102319092
Group-3S14